//
// Global Colors
//
$nav_col: #12034c;
$blue_text: #1465e8;
$p_color: #12034c;
$col_dark_gray: #58544e;
$col_red: #c73223;
$col_green: #56bb21;



//font size
$h2_fon_size: 6.7vh;
$h2_fon_size-mob: 40px;


